h1{
  color: DodgerBlue;
  text-align: center;
  border-bottom: 2px solid DodgerBlue;
}
h4{
  color: DodgerBlue;
  font-style: italic;
  border-style: outset;

}
.content-holder{
  width: 100%;
  height: inherit;
  display: flex;
  margin-top: 10px;
  border:solid;
}
.underline{
  text-decoration: underline;
}
.emboldened-text{
  font-weight: bold;
}
#personal{
  width:45%;
  margin-left: 50px;
}
.personal{
  width: 100%
  border: solid;
  height: inherit;
  display:flex;
}
#personal-sep{
  width: 50%
  border:solid;
}
#personal_sep{
  width: 50%
  border:solid;
  display: block;
  margin-left: 50px;
}
#work-experience{
  border: 2px solid black;
  width: 65%;
  margin-left: 30px;
}
